DATABASE_URL=
BLOB_READ_WRITE_TOKEN=
NEXT_PUBLIC_BLOB_BASE_URL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_EMAIL=contacto@guadalupevazquez.com
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_YOUTUBE_URL=
SEED_SECRET=cambiar-este-secreto
